*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f7fa;
    color:#333;
    line-height:1.6;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

header{
    background:linear-gradient(135deg,#008C45,#F4F5F0,#CD212A);
    text-align:center;
    padding:100px 20px;
}

header h1{
    font-size:3rem;
    margin-bottom:20px;
}

header p{
    font-size:1.2rem;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#25D366;
    color:#fff;
    text-decoration:none;
    padding:15px 35px;
    border-radius:50px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-3px);
}

section{
    padding:70px 0;
}

h2{
    text-align:center;
    margin-bottom:40px;
    color:#008C45;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:#fff;
    padding:30px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.info{
    background:white;
}

.info p{
    max-width:800px;
    margin:auto;
    text-align:center;
}

.gallery{
    background:#eef2f5;
}

.gallery-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery-grid img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
}

.note{
    text-align:center;
    margin-top:20px;
    font-style:italic;
}

.contact{
    text-align:center;
    background:white;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

    header h1{
        font-size:2rem;
    }

    header{
        padding:70px 15px;
    }
}